<section>
    <div class="container-fluid">
        <div class="row padd0">
            <div class="col-lg-8 col-md-12 col-xs-12 marTop">
                <div class="row">
                     <div class="col-md-12 col-lg-12 col-xs-12">
                          <h1 class="text-uppercase title-top">other expertise</h1> 
                          <div class="noidung-top">
                 proin iaculis purus consequat sem cure digni ssim.Donec porttiora entum suscipit aenean
                          </div>
                          <div class="noidung-top">
                    rhoncus posuere odio in tincidunt consequat sem cure digni ssim
                          </div>
                     </div>
                </div>

                <div class="row marTop36">
                        <div class="col-lg-6 col-md-6 col-xs-12 moblie">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-4 logo">
                                    <img src="assets/image/other1.png" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 col-xs-8 marTop-9">
                                     <h4 class="text-uppercase title">custom setup</h4>
                                     <div class="content">
                                        <div>Proin laculis purus consequat sum cure digni ssim.Donec porttiora entum.</div>
                                     </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 moblie">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-xs-4 logo">
                                    <img src="assets/image/other2.png" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 col-xs-8  marTop-9">
                                     <h4 class="text-uppercase title">cloud control</h4>
                                     <div class="content">
                                        <div>Proin laculis purus consequat sum cure digni ssim.Donec porttiora entum.</div>
                                     </div>
                              </div>
                            </div>
                        </div>
                </div>
                
                   <div class="row marTop36">
                        <div class="col-lg-6 col-md-6 col-xs-12 moblie">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 logo">
                                    <img src="assets/image/other3.png" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 marTop-9">
                                     <h4 class="text-uppercase title">all star support team</h4>
                                     <div class="content">
                                        <div>Proin laculis purus consequat sum cure digni ssim.Donec porttiora entum.</div>
                                     </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 moblie">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 logo">
                                    <img src="assets/image/other4.png" alt="">
                              </div>
                              <div class="col-lg-10 col-md-10 marTop-9">
                                     <h4 class="text-uppercase title">top notch security</h4>
                                     <div class="content">
                                        <div>Proin laculis purus consequat sum cure digni ssim.Donec porttiora entum.</div>
                                     </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="link text-uppercase">
                          <h5><a href="#">learn more</a></h5>
                    </div> 
            </div>

             <div class="col-lg-4 col-md-12 col-xs-12">
               <img class="image-right" src="assets/image/anh1.jpg" alt="">
             </div>
        </div>
    </div>
</section>