  <section id="hinhanh">   
      <div id="header"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar" >
          <a class="navbar-brand logo" href="#">Dreams</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="navbar-collapse collapse" id="navbarColor01">
            <ul class="navbar-nav ">
              <li class="nav-item maRight-50">
                <a class="nav-link" href="#">home </a>
              </li>
              <li class="nav-item maRight-50">
                <a class="nav-link" href="#">services</a>
              </li>
              <li class="nav-item maRight-50">
                <a class="nav-link" href="#">portfolio</a>
              </li>
              <li class="nav-item maRight-50">
                <a class="nav-link" href="#">about</a>
              </li>
              <li class="nav-item maRight-50">
                <a class="nav-link" href="#">team</a>
              </li>
              <li class="nav-item maRight-50">
                <a class="nav-link" href="#">contact</a>
              </li>
            </ul>
            
          </div>
        </nav>

        <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center marTop text-uppercase">
                      <h1>build the website of</h1>
                      <h1>your dreams</h1>
                  </div>
              </div>

                <hr class="hr">

                <div class="row">
                   <div class="col-md-12 text-center marTop-13">
                        <div>We are a digital agency that believes in building</div>
                         <div>things that are meaningfull</div>
                   </div>
                </div>

        </div>
      </div>    
  </section>
