<section>
      <div class="container">
            <div class="row offset-lg-1 padTop-100">
              <div class="col-lg-5  col-md-12 col-xs-12 padd">
                  <div class="title text-uppercase">
                       contact us
                  </div>
                  <div class="noidung">
                       Don't by shy, drop an email and say hello!We are a really rice
                       bumch of people :| 
                  </div>
                  <div class="info">
                       <div class="row marRight-0">
                            <div class="col-lg-6  col-md-6 col-xs-12 phone">
                                  <span><i class="fas fa-mobile-alt icon"></i></span>
                                  (416) 555-0000
                            </div>
                            <div class="col-lg-6  col-md-6 col-xs-12 phone">
                              <span><i class="fas fa-mobile-alt icon"></i></span>
                                hello@gmail.com
                          </div>
                       </div>
                       <div class="row padTop-30 marRight-0">
                        <div class="col-lg-6  col-md-6 col-xs-12 phone">
                              <span><i class="fab fa-twitter icon"></i>

                           </span>
                              @address
                        </div>
                        <div class="col-lg-6  col-md-6 col-xs-12 phone">
                          <span><i class="fab fa-facebook-f icon"></i>

                          </span>
                         facebook.com/address
                      </div>
                   </div>
                      <div class="row padTop-30 marRight-0">
                        <div class="col-lg-6  col-md-6 col-xs-12 phone">
                              <span><i class="fas fa-address-book icon"></i></span>
                             plus.com/dreams
                        </div>
                        <div class="col-lg-6  col-md-6 col-xs-12 phone">
                          <span><i class="far fa-check-square icon"></i>

                          </span>
                             pinterest.com/dreams
                      </div>
                  </div>
                  </div> 
              </div>

            <div class="col-lg-6  col-md-12 col-xs-12">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control input"  placeholder="Enter your name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control input"  placeholder="Enter your e-mail">
                  </div>

                  <div class="form-group">
                    <textarea class="form-control input" rows="5" placeholder="Enter your message" ></textarea>
                  </div>

                 
                  <button type="submit" class="btn btn-primary submit">send message</button>
                </form>
              </div>

            </div>
            <hr>

            <div class="row">
                 <div class="col-lg-12  col-md-12 col-xs-12 text-center footer">
                      @2014 Dreams By FreebiesXpress
                 </div>
            </div>

      </div>
</section>