<section>
    <div class="container-fuild">
          <div class="row">
                 <div class="col-lg-4 col-md-4 col-xs-12">
                       <img class="img" src="assets/image/detail1.jpg" alt="">
                 </div>
                 <div class="col-lg-4 col-md-4 col-xs-12">
                        <img class="img" src="assets/image/detail2.jpg" alt="">
                  </div>
                  <div class="col-lg-4 col-md-4 col-xs-12">
                        <img class="img" src="assets/image/detail3.jpg" alt="">
                  </div>
          </div>

          <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                      <img class="img" src="assets/image/detail4.jpg" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 ">
                       <img class="img" src="assets/image/detail5.jpg" alt="">
                 </div>
                 <div class="col-lg-4 col-md-4 col-xs-12">
                       <img class="img" src="assets/image/detail6.jpg" alt="">
                 </div>
         </div>
    </div>
</section>