<section>
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center text-uppercase marTop-82">
              <h2>core services</h2>
            </div> 
      </div> 
      <hr>
      <div class="row">
          <div class="col-lg-4 col-md-12 text-center marTop-80">
             <img src="assets/image/1.png" alt="">
             <div class="title text-uppercase marTop42">
                  <h3>beautiful designs</h3>
             </div>
             <div class="content">
               <div>Proin iscuils patus comsequat sem digini ssim</div>
                <div>Donec porttionra entum eaneam rhouse </div>
                <div>posuere odio in:Iaculis purus digin</div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12 text-center marTop-80">
              <img src="assets/image/2.png" alt="">
              <div class="title text-uppercase marTop42">
                   <h3>web development</h3>
              </div>
              <div class="content">
                <div>Proin iscuils patus comsequat sem digini ssim</div>
                 <div>Donec porttionra entum eaneam rhouse </div>
                 <div>posuere odio in:Iaculis purus digin</div>
               </div>
           </div>
           <div class="col-lg-4 col-md-12 text-center marTop-80">
              <img src="assets/image/3.png" alt="">
              <div class="title text-uppercase marTop42">
                   <h3>24/7 support</h3>
              </div>
              <div class="content">
                <div>Proin iscuils patus comsequat sem digini ssim</div>
                 <div>Donec porttionra entum eaneam rhouse </div>
                 <div>posuere odio in:Iaculis purus digin</div>
               </div>
           </div>
      </div>
    </div>



</section>